body {
    font-family: arial,helvetica;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #51af4c;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #219625;
    color: #fff;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #d6d9dc;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px; /* Khoảng cách dưới tiêu đề */
}

.title-image-container {
    text-align: center; /* Căn giữa nội dung bên trong */
}

.title-image {
    width: 100px; /* Kích thước mới của hình ảnh */
    height: 70px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

h1:hover {
    color: #f4f2f1; /* Màu mới khi di chuột qua */
    transition: color 0.5s; /* Thời gian chuyển đổi màu là 0.5 giây */
}

.image-container {
    position: center;
    margin: 0 auto;
    width: 300px;
    height: 200px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    transition: transform 0.5s; /* Thời gian chuyển đổi khi di chuột qua */
}

.image-container:hover img {
    transform: scale(1.1); /* Phóng to hình ảnh khi di chuột qua */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #51af4c;
    color: #fff;
    padding: 10px;
}

/* Style for the search bar */
.search-bar {
    margin: 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

/* Style for the search button */
.search-button {
    background-color: #51af4c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
